.navbar{
    background:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.9));;
    z-index: 2;
}

h4{
    color: aliceblue;
    text-align: center;
}

h4::before{
    content: '';
    background: currentColor;
    width: 100%;
    display:block;
}

