<div id="banner">
    <video autoplay muted loop>
        <source src="../../../../assets/video/star.mp4">
    </video>
    <!--Apresentação-->
<section id="apresentacao">
    <!--Title-->
    <h1>DAVID STEWART</h1>
    <p>Desenvolvedor FullStack</p>
    <!--Body-->
    <h2>Sobre mim</h2>
    <h3>Olá, sou David stewart ..</h3>
    <h3>Olá, sou David stewart ..</h3>
    <h3>Olá, sou David stewart ..</h3>
    <h3>Olá, sou David stewart ..</h3>
    <h3>Olá, sou David stewart ..</h3>
    <h3>Olá, sou David stewart ..</h3>
    <h3>Olá, sou David stewart ..</h3>
    <p></p>


    <section></section>
</section>



</div>