<div class=banner>
    <video autoplay muted loop>
        <source src="../../../../assets/video/tec.mp4" type="video/mp4">
    </video>
    <div class="content">

       <img src="../../../../assets/img/eus.jpeg">
        <h1>David Stewart</h1>
        <p>Desenvolvedor FullStack</p>
        
        <section>
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
             70%
            </div>
        </div>
        <p>Next lvl: Junior</p>
         </section>
    </div>
    
</div>